@model Biblioteca.Model.Editora

@{
    ViewData["Title"] = "Borrar Editora";
}

<h3>¿Está seguro que desea eliminar esta editora?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Codigo Editora</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoEditora)
        </dd>
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEditora)
        </dd>
        <dt class="col-sm-2">Descripcion</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form class="d-flex" asp-action="Delete">
        <input type="hidden" asp-for="CodigoEditora" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
    </form>
</div>
