@model Biblioteca.Model.Editora

@{
    ViewData["Title"] = "Editar Editora";
}

<h1>Edit</h1>

<h4>Editora</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CodigoEditora" type="hidden" />
            <div class="form-group">
                <label asp-for="NombreEditora" class="control-label"></label>
                <input asp-for="NombreEditora" class="form-control" />
                <span asp-validation-for="NombreEditora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group d-flex mt-3">
                <input type="submit" value="Editar" class="btn btn-success" />
                <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
