@model Biblioteca.Model.ViewModel.EditarEmpleadoVM

@{
    ViewData["Title"] = "Editar empleado " + Model.Nombre + " " + Model.Apellido;
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Editar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CodigoEmpleado" type="hidden" />
            <div class="form-group mb-2">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" maxlength="80" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" maxlength="80" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" id="cedulaInput" type="text" maxlength="13" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CodigoTanda" class="control-label">Tanda</label>
                <select asp-for="CodigoTanda" class="form-select" asp-items="ViewBag.TandasLabor"></select>
            </div>
            @* <div class="form-group mb-2"> *@
            @*     <label asp-for="PorcentajeComision" class="control-label">Porcentaje Comision</label> *@
            @*     <input asp-for="PorcentajeComision" class="form-control" /> *@
            @*     <span asp-validation-for="PorcentajeComision" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group mb-2">
                <label asp-for="FechaIngreso" class="control-label">Fecha Ingreso</label>
                <input asp-for="FechaIngreso" class="form-control" type="date" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="NombreUsuario" class="control-label">Nombre Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" type="text" maxlength="30" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CodigoRol" class="control-label">Rol</label>
                <select asp-for="CodigoRol" class="form-select" asp-items="ViewBag.Roles"></select>
            </div>
            <div class="form-group d-flex mt-4">
                <input type="submit" value="Editar" class="btn btn-warning text-white" />
                <a class="btn btn-info text-white ms-2" asp-action="CambiarContrasenia" asp-route-id="@Model.CodigoEmpleado">Cambiar Contraseña</a>
                <a class="btn btn-secondary ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
