@model Biblioteca.Model.Idioma

@{
    ViewData["Title"] = "Editar Idioma "+Model.NombreIdioma;
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CodigoIdioma" type="hidden" />
            <div class="form-group mb-3">
                <label asp-for="NombreIdioma" class="control-label">Nombre Idioma</label>
                <input asp-for="NombreIdioma" class="form-control" />
                <span asp-validation-for="NombreIdioma" class="text-danger"></span>
            </div>
            <div class="form-group d-flex mt-4">
                <input type="submit" value="Editar" class="btn btn-warning text-white" />
                <a class="btn btn-secondary ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
