@model Biblioteca.Model.Autor

@{
    ViewData["Title"] = "Editar Autor";
}

<h4>Editar Autor</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Editar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CodigoAutor" type="hidden" />
            <div class="form-group mb-2">
                <label asp-for="NombreAutor" class="control-label">Nombre Autor</label>
                <input asp-for="NombreAutor" class="form-control" maxlength="60" />
                <span asp-validation-for="NombreAutor" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PaisOrigen" class="control-label">Pais Origen</label>
                <input asp-for="PaisOrigen" class="form-control" maxlength="50" />
                <span asp-validation-for="PaisOrigen" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CodigoIdioma" class="control-label"></label>
                <select asp-for="CodigoIdioma" class="form-select" asp-items="ViewBag.Idiomas"></select>
            </div>
            <div class="form-group d-flex mt-4">
                <input type="submit" value="Editar" class="btn btn-warning text-white" />
                <a class="btn btn-secondary ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
