@model Biblioteca.Model.Prestamo

@{
    ViewData["Title"] = "Nuevo Préstamo";
}



<h3>Nuevo Préstamo</h3>
<hr />

@if (ViewBag.ErrorLibros != null || ViewBag.ErrorUsuarios != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorLibros <br />
        @ViewBag.ErrorEstudiantes
    </div>
    <div class="form-group d-flex mt-3">
        <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
    </div>

}else{

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="CodigoLibro" class="control-label"></label>
                <select asp-for="CodigoLibro" class="form-control" asp-items="ViewBag.Libros"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CodigoEstudiante" class="control-label"></label>
                <select asp-for="CodigoEstudiante" class="form-control" asp-items="ViewBag.Usuarios"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CantidadDias" class="control-label"></label>
                <input asp-for="CantidadDias" class="form-control" />
                <span asp-validation-for="CantidadDias" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group d-flex mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
