@model Biblioteca.Model.Libro

@{
    ViewData["Title"] = "Editar Libro";
}

<h4>Editar Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CodigoLibro" type="hidden"/>
            <div class="form-group mb-3">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SignaturaTopografica" class="control-label"></label>
                <input asp-for="SignaturaTopografica" class="form-control" />
                <span asp-validation-for="SignaturaTopografica" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CodigoEditora" class="control-label"></label>
                <select asp-for="CodigoEditora" class="form-control" asp-items="ViewBag.Editoras"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AnioPublicacion" class="control-label"></label>
                <input asp-for="AnioPublicacion" class="form-control" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Ciencia" class="control-label"></label>
                <input asp-for="Ciencia" class="form-control" />
                <span asp-validation-for="Ciencia" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CodigoIdioma" class="control-label"></label>
                <select asp-for="CodigoIdioma" class="form-control" asp-items="ViewBag.Idiomas"></select>
            </div>
            <div class="form-group d-flex mt-4">
                <input type="submit" value="Editar" class="btn btn-success" />
                <a class="btn btn-primary ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
