@using Microsoft.AspNetCore.Http
@using Common;
@inject IHttpContextAccessor HttpContextAccessor
@{
    int codigoEmpleado = HttpContextAccessor.HttpContext?.Session.GetInt32("CodigoEmpleado") ?? 0;
    string rol = HttpContextAccessor.HttpContext?.Session.GetString("Rol");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteca.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblioteca</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (rol != null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @if (rol != nameof(ERoles.CATALOGADOR))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Prestamos" asp-action="Index">Prestamos</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Libros" asp-action="Index">Libros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Editoras" asp-action="Index">Editoriales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Autores" asp-action="Index">Autores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Idiomas" asp-action="Index">Idiomas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="TiposBibliografias" asp-action="Index">Tipos Bibliografias</a>
                            </li>
                            @if (rol == nameof(ERoles.ADMIN))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="TandasLabor" asp-action="Index">Tandas Labor</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Empleados" asp-action="Index">Empleados</a>
                                </li>
                            }
                            @if (rol != nameof(ERoles.CATALOGADOR))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Estudiantes" asp-action="Index">Estudiantes</a>
                                </li>
                            }
                        </ul>
                        <div class="dropdown">
                            <a class="dropdown-toggle text-decoration-none text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                </svg>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li><a class="dropdown-item" asp-controller="Empleados" asp-action="Detalles" asp-route-id="@codigoEmpleado">Mi Informacion</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="CerrarSesion" >Cerrar Sesion</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Biblioteca - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#cedulaInput").inputmask("999-9999999-9", {
                removeMaskOnSubmit: true
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>