@{
    ViewData["Title"] = "Usuario sin autenticar";
}
<h1>Error 401 - @ViewData["Title"]</h1>

<p>Debe iniciar sesion en el sistema para acceder a esta seccion</p>
<p>Para volver a la pantalla de inicio de sesion, haga clic <a href="/">aquí</a>.</p>
 