@{
    ViewData["Title"] = "Error inesperado";
}
<h1>@ViewData["Title"]</h1>

<p>Lo sentimos, ha ocurrido un error inesperado al tratar de realizar su solicitud.</p>
<p>Si cree que esto es un error, por favor contacte al administrador del sistema.</p>
<p>Para volver a la página principal, haga clic <a href="/">aquí</a>.</p>
